@using CourseProjectWebApp.Authorization;
@using Microsoft.AspNetCore.Authorization
@using static CourseProjectWebApp.Authorization.ProjectConstans
@model CourseProjectWebApp.Models.Tag
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<h1 class="fs-3">@Localizer["Tag"]: @Model.Name</h1>
@if(Model.Items.Count > 0)
{
    <div class="list-group">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>@Localizer["Tag title"]</th>
                    <th>@Localizer["Collection title"]</th>
                    <th>@Localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Collection!.Title</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a asp-controller="item" asp-action="Details" asp-route-id="@item.Collection.Id" asp-route-itemId="@item.Id" class="btn btn-primary">@Localizer["Show"]</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>@Localizer["No items"]!</p>
}