@using Markdig
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CourseProjectWebApp.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">@Localizer["Last items"]</h2>
        <div class="list-group">
            @foreach (var item in Model.Items)
            {
                <a asp-action="details" asp-controller="item" asp-route-id="@item.CollectionId" asp-route-itemId="@item.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@Localizer["Item title"]: @item.Title</h5>
                        @if (item.UserName != null)
                        {
                            <small>@Localizer["Created by"]: @item.UserName</small>
                        }
                    </div>
                    <p class="mb-1">@Localizer["Collection title"] @item.CollectionTitle</p>
                </a>
            }
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">@Localizer["Largest collecitons"]</h2>
        <div class="list-group">
            @foreach (var collection in Model.Collections)
            {
                var result = Markdown.ToHtml(collection.Description);
                
                <a asp-action="Details" asp-controller="Collection" asp-route-id="@collection.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@Localizer["Collection title"]: @collection.Title</h5>
                        @if (collection.UserName != null)
                        {
                            <small>@Localizer["Created by"]: @collection.UserName</small>
                        }
                    </div>
                    <div class="d-flex">
                    <p class="mb-1 me-1">@Localizer["Description"]:@Html.Raw(result)</p>

                    </div>
                    <small>@Localizer["Items"]: @collection.CountItems</small>
                </a>
            }
        </div>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    <div class="col-6 text-center">
        <h3>@Localizer["Tag cloud"]</h3>
        <div id="tagcloud">
            @foreach (var tag in Model.Tags)
            {
                <a asp-action="TagItems" asp-controller="collection" asp-route-id="@tag.Id" rel="@tag.CountItems" class="text-decoration-none">@tag.Name</a>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="~/lib/tag-cloud/dist/jquery.tagcloud.js"></script>
    <script>
        $("#tagcloud a").tagcloud({
            size: {
                start: 17, end: 50, unit: "px"
            },
            color: { start: '#3498DB', end: '#46CFB0' },
        });
    </script>
}