@using CourseProjectWebApp.Models
@model CourseProjectWebApp.Models.ViewModels.ItemTagsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Item" asp-action="Edit" asp-route-itemId="@Model.Item.Id" asp-route-id="@ViewBag.Collection.Id" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" value="@Model.Item.Id" />
            <input type="hidden" asp-for="Item.CollectionId" value="@Model.Item.CollectionId" />
            <div class="form-group">
                <label asp-for="Item.Title" class="control-label"></label>
                <input asp-for="Item.Title" class="form-control" />
                <span asp-validation-for="Item.Title" class="text-danger"></span>
            </div>
            <div class="form-group" id="tagsForm">
                <label for="tagName">Add tags</label>
                <input class="form-control" id="tagName" />
                <div class="visually-hidden" id="allTags">
                    @for (var i = 0; i < Model.Tags.Count; i++)
                    {
                        <span>@Model.Tags[i].Name</span>
                        <input asp-for="Tags[i].Name" value="@Model.Tags[i].Name">
                    }
                </div>
            </div>
            @for (var i = 0; i < ViewBag.Collection.AdditionalStrings.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="Item.ItemsAdditionalStrings[i].Data" class="control-label">@ViewBag.Collection.AdditionalStrings[i].Name</label>
                    <input type="hidden" value="@ViewBag.Collection.AdditionalStrings[i].Id" name="Item.ItemsAdditionalStrings[@i].AdditionalStringsId">
                    @switch (ViewBag.Collection.AdditionalStrings[i].TypeOfData)
                    {
                        case AdditionalStrings.TypesOfData.integer:
                            <input class="form-control" type="number" asp-for="Item.ItemsAdditionalStrings[i].Data" />
                            break;
                        case AdditionalStrings.TypesOfData.title:
                            <input class="form-control" type="text" asp-for="Item.ItemsAdditionalStrings[i].Data" />
                            break;
                        case AdditionalStrings.TypesOfData.text:
                            <textarea class="form-control" asp-for="Item.ItemsAdditionalStrings[i].Data"></textarea>
                            break;
                        case AdditionalStrings.TypesOfData.boolean:
                            <input class="form-check-input" type="checkbox" asp-for="Item.ItemsAdditionalStrings[i].Data" value="@ViewBag.Collection.AdditionalStrings[i].Name" />
                            break;
                        case AdditionalStrings.TypesOfData.date:
                            <input class="form-control" type="date" asp-for="Item.ItemsAdditionalStrings[i].Data" />
                            break;
                        default:
                            <p>Something went wrong</p>
                            break;
                    }
                    <input type="hidden" asp-for="Item.ItemsAdditionalStrings[i].Id" value="@Model.Item.ItemsAdditionalStrings[i].Id" />
                    <span asp-validation-for="Item.ItemsAdditionalStrings[i].Data" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <script>
        function onInput(e) {
            checkAlert();
            var value = e.detail.value;
            tagify.whitelist = null;
            tagify.dropdown.hide();
            fetch('@Url.Action("GetTag", "Ajax")' + '?term=' + value)
                .then(RES => RES.json())
                .then(function (newWhitelist) {
                    tagify.whitelist = newWhitelist;
                    tagify.dropdown.show(value);
                });
        }
    </script>
    <script src="~/js/tags.js" asp-append-version="true"></script>
	}